<!DOCTYPE html>
<html lang="en">
<head>
    <title> Company Summary App </title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>

    <div class="jumbotron text-center">
        <h1>Enter company names</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            <center>
                <form action="." method="POST">
                    <h3>Do it for harambe</h3> <input type="text" name="text">
                    <input type="submit" name="text-form" value="Send">
                </form>
            </center>
            </div>
        </div>
    </div>
</body>

</html>