<!DOCTYPE html>
<html lang="en">
<head>
    <title> Company Summary App </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styalized.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
<header id="top" class="header">
        <div class="text-vertical-center">
            <h1>WEB APP NAME</h1>
            <h3>Enter Company Name</h3>
            <form action="." method="POST">
                    <h3>Do it for harambe</h3> <input type="text" name="text">
                    <input type="submit" name="text-form" value="Send">
            </form>
            <!-- <a href="#about" class="btn btn-dark btn-lg">black highlighted</a> -->
        </div>
    </header>

</body>

</html>